@media (min-width: 576px) {
  .menu {
    display: none;
  }
  .menu + div.phone-number {
    display: none;
  }
  .eset.logo {
    display: none;
  }
}
@media (min-width: 1200px) {
  .menu {
    display: inline-block;
    margin-right: 30px;
  }
  li.menu-item {
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 1514px) {
  li.menu-item {
    font-size: 18px;
  }
}
@media (min-width: 1544px) {
  .menu + div.phone-number {
    display: inline-block;
    margin-right: 0px;
    margin-left: auto;
  }
  .phone-number + .submit {
    margin-left: 35px;
    margin-right: 0px;
  }
}
@media (min-width: 1665px) {
  .eset.logo {
    display: inline-block;
  }
  .sdd.logo {
    border-right: 1px solid #ced7f1;
  }
}
