@font-face {
  font-family: 'BeauSans Bold';
  src: url('/fonts/PFBeauSansPro-Bold.eot');
  src: local('PFBeauSansPro-Bold'), url('PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/PFBeauSansPro-Bold.woff') format('woff'), url('/fonts/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-Italic.eot');
  src: local('PFBeauSansPro-Italic'), url('PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-Italic.woff') format('woff'), url('PFBeauSansPro-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-Thin.eot');
  src: local('PFBeauSansPro-Thin'), url('PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-Thin.woff') format('woff'), url('PFBeauSansPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-Black.eot');
  src: local('PFBeauSansPro-Black'), url('PFBeauSansPro-Black.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-Black.woff') format('woff'), url('PFBeauSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-ThinItalic.eot');
  src: local('PFBeauSansPro-ThinItalic'), url('PFBeauSansPro-ThinItalic.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-ThinItalic.woff') format('woff'), url('PFBeauSansPro-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-SemiBoldItalic.eot');
  src: local('PFBeauSansPro-SemiBoldItalic'), url('PFBeauSansPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-SemiBoldItalic.woff') format('woff'), url('PFBeauSansPro-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-BlackItalic.eot');
  src: local('PFBeauSansPro-BlackItalic'), url('PFBeauSansPro-BlackItalic.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-BlackItalic.woff') format('woff'), url('PFBeauSansPro-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'PF BeauSans Pro XThin';
  src: url('PFBeauSansPro-XThin.eot');
  src: local('PFBeauSansPro-XThin'), url('PFBeauSansPro-XThin.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-XThin.woff') format('woff'), url('PFBeauSansPro-XThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro Bbook';
  src: url('PFBeauSansPro-Bbook.eot');
  src: local('PFBeauSansPro-Bbook'), url('PFBeauSansPro-Bbook.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-Bbook.woff') format('woff'), url('PFBeauSansPro-Bbook.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-SemiBold.eot');
  src: local('PFBeauSansPro-SemiBold'), url('PFBeauSansPro-SemiBold.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-SemiBold.woff') format('woff'), url('PFBeauSansPro-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-Regular.eot');
  src: local('PFBeauSansPro-Regular'), url('PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-Regular.woff') format('woff'), url('PFBeauSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PF BeauSans Pro';
  src: url('PFBeauSansPro-BoldItalic.eot');
  src: local('PFBeauSansPro-BoldItalic'), url('PFBeauSansPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('PFBeauSansPro-BoldItalic.woff') format('woff'), url('PFBeauSansPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
.bold-font {
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
}
body {
  background: #2b2b2b;
  height: auto;
  margin: 0;
  /* display: flex; */
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}
img[type="svg"] {
  border: 1px solid black;
}
.products-section {
  width: 100%;
  /* height: 500px; */
  background-color: #eaf2f4;
  padding-top: 20px;
  padding-bottom: 80px;
}
.products-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-2 {
  border: 2px solid #01a7fc;
}
/* // ТЕКСТЫ */
h1 {
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
}
.product > .product-price {
  font-size: 50px;
}
.product-price:after {
  content: "р";
  font-size: 30px;
}
.product > h3 {
  font-family: 'BeauSans Bold';
  font-style: normal;
  width: 160px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.product > .product-description {
  width: 200px;
  display: block;
}
.product > * {
  width: 80%;
  display: block;
  margin: 10px auto;
  /* flex-direction: column; */
  /* justify-content: space-around; */
}
.product .buttons {
  /* border: 1px solid black; */
  width: 85%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
input[type="button"] {
  height: 35px;
  border-radius: 6px;
  outline: none;
}
input[type="button"]:active {
  height: 35px;
  border-radius: 6px;
  outline: none;
}
.buy {
  color: white;
  background: #01a7fc;
  border: #01a7fc 1px solid;
  font-weight: bold;
}
.buy:active {
  color: white;
  border: #01a7fc 1px solid;
  font-weight: bold;
  background-color: #0185c9;
}
.learn-more {
  background: white;
  border: navy 2px solid;
  color: navy;
  font-weight: bold;
}
.learn-more:active {
  background: #dedede;
  border: #00004d 2px solid;
  color: #00005c;
  font-weight: bold;
}
hr {
  width: 75px;
  height: 4px;
  border: #017fd4 1px solid;
  border-radius: 15px;
  background-color: #017fd4;
}
@media (min-width: 576px) {
  .products-cards .product {
    width: 510px;
  }
}
@media (min-width: 768px) {
  .products-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .products-cards {
    flex-wrap: nowrap;
  }
  .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .products-cards .product {
    width: 450px;
    flex-wrap: nowrap;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 600px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 50, 0.22) 0px 0px 14px 1px;
  margin: 15px;
}
.product:hover {
  box-shadow: rgba(50, 50, 50, 0.12) 0px 0px 35px 2px;
}
