// VAR
@blue:  rgb(57, 138, 230);
@dark-blue: rgb(29, 64, 129);
@grass: rgb(159, 202, 78);

@product-card-width: 90%;
@product-card-height: 600px;

// ШРИФТЫ //

@font-face {
  font-family: 'BeauSans Bold';
  src: url('/fonts/PFBeauSansPro-Bold.eot');
  src: local('PFBeauSansPro-Bold'),
      url('/fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PFBeauSansPro-Bold.woff') format('woff'),
      url('/fonts/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;}
@font-face {
  font-family: 'BeauSans Thin';
  src: url('/fonts/PFBeauSansPro-Thin.eot');
  src: local('PFBeauSansPro-Thin'),
      url('/fonts/PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PFBeauSansPro-Thin.woff') format('woff'),
      url('/fonts/PFBeauSansPro-Thin.ttf') format('truetype');
  // font-weight: thin;
  font-style: normal;}
@font-face {
  font-family: 'BeauSans Regular';
  src: url('/fonts/PFBeauSansPro-Regular.eot');
  src: local('PFBeauSansPro-Regular'),
      url('/fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/PFBeauSansPro-Regular.woff') format('woff'),
      url('/fonts/PFBeauSansPro-Regular.ttf') format('truetype');
  // font-weight: thin;
  font-style: normal;}

.bold-font {
    font-family: 'BeauSans Bold';
    font-weight: bold;
    font-style: normal;}
.thin-font {
  font-family: 'BeauSans Thin';
  font-weight: 150;
  font-style: thin;}
.regular-font {
  font-family: 'BeauSans Regular';}



body {
  background: #2b2b2b;
  height: auto;
  margin: 0;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  }

.products-section {
width: 100%;
height: 800px;
background-color: rgb(234,242,244);
padding-top: 20px; 
padding-bottom: 80px; }

.products-cards{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;}

.product-2 {
  border: 2px solid @blue;
}


// СТИКЕРЫ //

.product .product-sticker {
  // position: relative;
  
  width: auto;
  height: 25px;
  
  margin-top: -22px;
  margin-bottom: -25px;
  padding: 8px 16px 1px 16px;

  border-radius: 40px;
  color: white;
  .bold-font;
  text-transform: uppercase;
  font-size: 14px;}
.special{
  .product .product-sticker;
  background-color: @blue;
  margin-top: -22px;
  margin-bottom: -25px;}
.new {
  .product .product-sticker;
  background-color: @grass;
  margin-top: -26px;}


img[type="svg"]{
// border: 1px solid black;
margin-top: 30px;
margin-bottom: -22px;}


  
  
  
  
  /* // ТЕКСТЫ */
.products-title{
  .bold-font;
  font-size: 40px;
  margin-bottom: 23px;
}
hr{
  width: 75px;
  height: 4px;
  margin-bottom: 60px;
  border: rgb(1,127,212) 1px solid;
  border-radius: 15px;
  background-color:rgb(1,127,212);
  // margin: 30px auto;
}

.product-price{
  font-size: 50px;
  margin-bottom: -10px;
  .thin-font}
.product-price:after{
  content:"р";
  font-size: 30px;}

.product-card-title {
  .bold-font;
  width: 185px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;}

.product-description{
  max-width: 75%;
  display: block;
  .regular-font;
  font-size: 18px;}
  
.product > *{
  width: 80%;
  display: block;
  margin: 10px auto;}

.product .buttons {
  width: 80%;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 40px;}
input[type="button"] {
  height: 50px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;}
input[type="button"]:active {
  border-radius: 6px;
  outline: none;}

.buy{
    color: white;
    background: rgb(34, 139, 224);
    border: rgb(34, 139, 224) 1px solid;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    transition: ease-out 0.14s;  }
.buy:active{
    color: white;
    border: rgb(7, 155, 230) 1px solid;
    font-weight: bold;
    background-color: darken(rgb(1,167,252), 35%);}
.buy:hover{
  background-color: darken(rgb(1,167,252), 15%);}
.learn-more{
  background: white;
  border:navy 2px solid;
  color: rgb(9, 47, 104);
  transition: ease-out 0.14s;
  
  font-weight: bold;
  .regular-font;
  text-transform: uppercase;
  font-size: 12px;}    
.learn-more:active{
  background: darken(white, 13%);
  border: darken(@dark-blue, 10%) 2px solid;
  color: darken(@dark-blue, 7%);
  font-weight: bold;}
.learn-more:hover{
  background: darken(@dark-blue, 10%);
  border: darken(@dark-blue, 10%) 2px solid;
  color: white;}

  
  
@media (min-width: 576px) {
  .products-cards .product {
    width:510px;
  }
}  
@media (min-width: 768px) {
  .products-cards {
    flex-direction: row;
      flex-wrap: wrap;
  }
  .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .products-cards {
    flex-wrap: nowrap;
  }
    .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .products-cards .product {
    width: 450px;
    flex-wrap: nowrap;
  }
}


.product {
display: flex;
flex-direction: column;
justify-content: space-around;

width: @product-card-width;
height: 580px;

background-color: white;
border-radius: 8px;
box-shadow: rgba(50,50,50, 0.23) 0px 3px 12px 1px;
transition: ease-in transform 0.20s, margin 0.32s, box-shadow 0.25s;
// transition: ease-in transform 0.20s, margin 0.22s;

margin: 15px;
} 
.product:hover{
  transform: scale(1.025,1.025);
  box-shadow: rgba(50,50,50, 0.17) 0px 12px 30px 2px;
  position: relative;
  margin: 0px 15px 30px;
  transition: ease-out transform 0.18s, margin 0.32s, box-shadow 0.20s;
  // transition: ease-out transform 0.18s, margin 0.20s;
}