@font-face {
  font-family: 'BeauSans Bold';
  src: url('/fonts/PFBeauSansPro-Bold.eot');
  src: local('PFBeauSansPro-Bold'), url('/fonts/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/PFBeauSansPro-Bold.woff') format('woff'), url('/fonts/PFBeauSansPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'BeauSans Thin';
  src: url('/fonts/PFBeauSansPro-Thin.eot');
  src: local('PFBeauSansPro-Thin'), url('/fonts/PFBeauSansPro-Thin.eot?#iefix') format('embedded-opentype'), url('/fonts/PFBeauSansPro-Thin.woff') format('woff'), url('/fonts/PFBeauSansPro-Thin.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'BeauSans Regular';
  src: url('/fonts/PFBeauSansPro-Regular.eot');
  src: local('PFBeauSansPro-Regular'), url('/fonts/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/PFBeauSansPro-Regular.woff') format('woff'), url('/fonts/PFBeauSansPro-Regular.ttf') format('truetype');
  font-style: normal;
}
.bold-font {
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
}
.thin-font {
  font-family: 'BeauSans Thin';
  font-weight: 150;
  font-style: thin;
}
.regular-font {
  font-family: 'BeauSans Regular';
}
body {
  background: #2b2b2b;
  height: auto;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  font-family: 'BeauSans Regular';
}
.products-section {
  width: 100%;
  height: 850px;
  background-color: #eaf2f4;
  padding-top: 20px;
  padding-bottom: 80px;
}
.products-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-2 {
  border: 2px solid #398ae6;
}
.product .product-sticker {
  width: auto;
  height: 25px;
  margin-top: -22px;
  margin-bottom: -25px;
  padding: 8px 16px 1px 16px;
  border-radius: 40px;
  color: white;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
}
.special {
  width: auto;
  height: 25px;
  padding: 8px 16px 1px 16px;
  border-radius: 40px;
  color: white;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #398ae6;
  margin-top: -22px;
  margin-bottom: -25px;
}
.new {
  width: auto;
  height: 25px;
  margin-top: -22px;
  margin-bottom: -25px;
  padding: 8px 16px 1px 16px;
  border-radius: 40px;
  color: white;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #9fca4e;
  margin-top: -26px;
}
img[type="svg"] {
  margin-top: 30px;
  margin-bottom: -22px;
}
header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 12px;
  margin-right: 0;
  padding-left: 0;
  background-color: white;
  box-shadow: rgba(50, 50, 50, 0.23) 0px 3px 12px 1px;
}
.sdd.logo {
  width: auto;
  height: auto;
  padding-right: 20px;
  padding-left: 15px;
}
.eset.logo {
  padding-right: 30px;
  padding-left: 20px;
  margin-right: 0;
}
.menu {
  height: 100%;
  vertical-align: center;
  margin-right: auto;
}
.menu > li {
  height: 100%;
  vertical-align: center;
  display: inline-block;
  list-style-type: none;
  padding: 16px;
  font-family: 'BeauSans Regular';
  font-weight: 500;
  margin-right: auto;
}
.menu > li:hover {
  color: #0000cd;
}
.submit {
  margin-left: auto;
  margin-right: 0;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  color: white;
  background-color: #398ae6;
  text-transform: uppercase;
  transition: ease-in 0.15s;
}
.submit:hover {
  background-color: #1864bb;
  transition: ease-out 0.15s;
}
.cart {
  margin-left: 23px;
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.phone-number {
  display: inline-block;
  margin-left: auto;
  margin-right: 5px;
  font-size: 18px;
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  color: #2e2e2e;
}
/* // ТЕКСТЫ */
.products-title {
  font-family: 'BeauSans Bold';
  font-weight: bold;
  font-style: normal;
  margin-top: 130px;
  font-size: 40px;
  margin-bottom: 23px;
}
hr {
  width: 75px;
  height: 4px;
  margin-bottom: 60px;
  border: #017fd4 1px solid;
  border-radius: 15px;
  background-color: #017fd4;
}
.product-price {
  font-size: 50px;
  margin-bottom: -10px;
  font-family: 'BeauSans Thin';
  font-weight: 150;
  font-style: thin;
}
.product-price:after {
  content: "р";
  font-size: 30px;
}
.product-card-title {
  font-family: 'BeauSans Bold';
  font-style: normal;
  width: 185px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.product-description {
  max-width: 75%;
  display: block;
  font-family: 'BeauSans Regular';
  font-size: 18px;
}
.product > * {
  width: 80%;
  display: block;
  margin: 10px auto;
}
.product .buttons {
  width: 80%;
  height: 115px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 40px;
}
input[type="button"] {
  height: 50px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
}
input[type="button"]:active {
  border-radius: 6px;
  outline: none;
}
.buy {
  color: white;
  background: #228be0;
  border: #228be0 1px solid;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  transition: ease-out 0.14s;
}
.buy:active {
  color: white;
  border: #079be6 1px solid;
  font-weight: bold;
  background-color: #00314a;
}
.buy:hover {
  background-color: #0175b0;
}
.learn-more {
  background: white;
  border: navy 2px solid;
  color: #092f68;
  transition: ease-out 0.14s;
  font-weight: bold;
  font-family: 'BeauSans Regular';
  text-transform: uppercase;
  font-size: 12px;
}
.learn-more:active {
  background: #dedede;
  border: #142b57 2px solid;
  color: #163264;
  font-weight: bold;
}
.learn-more:hover {
  background: #142b57;
  border: #142b57 2px solid;
  color: white;
}
@media (min-width: 576px) {
  .products-cards .product {
    width: 510px;
  }
}
@media (min-width: 768px) {
  .products-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 992px) {
  .products-cards {
    flex-wrap: nowrap;
  }
  .products-cards .product {
    width: 320px;
  }
}
@media (min-width: 1200px) {
  .products-cards .product {
    width: 350px;
    flex-wrap: nowrap;
  }
  h3 {
    width: 150px;
  }
}
@media (min-width: 1514px) {
  .products-cards .product {
    width: 450px;
    flex-wrap: nowrap;
  }
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 580px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 50, 0.23) 0px 3px 12px 1px;
  transition: ease-in transform 0.2s, margin 0.32s, box-shadow 0.25s;
  margin: 15px;
}
.product:hover {
  background-color: white;
  transform: scale(1.025, 1.025);
  box-shadow: rgba(50, 50, 50, 0.2) 0px 12px 30px 2px;
  position: relative;
  margin: 0px 15px 30px;
  transition: ease-out transform 0.18s, margin 0.32s, box-shadow 0.2s;
}
